.ObavijestiContainer{
    width:1400px;
    background-color: rgb(13, 176, 87);
    margin-top: 180px;
    display: flex;
    flex-direction: column;
    border: 3px solid black;
    border-top: none;
}
.UnosObavijesti{
    width:100%;
    height:350px;
    background-color: rgb(13, 176, 87);
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.UnosBotun{
    width:100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.BotunObavijest{
    width:40%;
    padding:25px;
    font-size: 25px;
    cursor: pointer;
    border:2px solid black;
    border-radius: 10px;
    background-color: white;
}

.BotunObavijest:hover{
    background-color: yellow;
    transition: 0.2s;
}

.ObavijestiForma{
    width:80%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.NovaObavijest{
    width:60%;
    height:90%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius:5px;
}

.NovaObavijestNaslov{
    width:100%;
    height:50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: yellow;
    font-size: 25px;
    border-radius: 5px 5px 0px 0px;
    padding: 10px 0px;
    font-weight: bold;
}

.NovaObavijestForm{
    width:100%;
    height:100%;
    display: flex;
    flex-direction: column;
}
.Opis{
    width:100px;
    margin-left: 10px;
    font-weight: bold;
}

.Input{
    width:100%;
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.NovaObavijestPotvrda{
    width:100%;
    height: 130px;
    display: flex;
    gap:30px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Spremi{
    padding: 10px;
    background-color:white;
    cursor: pointer;
    border-radius: 5px;
    border: 2px solid black;
    font-weight: bold;
    font-size: 20px;
    
}
.Spremi:hover{
    background-color: rgb(13, 176, 87);
    transition: 0.2s;
}

.PrikazObavijesti{
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:20px;
    padding-top:20px;
    padding-bottom: 20px;
}

.inputArea{
    width:40%;
    outline: none;
    border:1px solid black;
}